.form-box{display: flex; flex-wrap: wrap; margin: 5% auto; width: 60%;}
.example-full-width{width: 600px;}
.mat-form-field{width:100%;}
.mat-radio-button{margin:0 10px;}
.mat-card-actions{margin-top:0px; margin-bottom: 20px; width:100%;}